@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/ExternalAuth.MailChimp/Content/styles.css");    
}
<div class="mailchimp-login-block">
    <div class="buttons">
        <a asp-controller="MailChimpAuthentication" asp-action="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="mailchimp-btn"></a>
    </div>
</div>